<form action="/transactions" method="POST">


  <div class="form-group">
    <label for="name">Type the tax receipt</label>
    <input type="text" class="form-control" id="tax_receipt" placeholder="Enter the tax_receipt number">
  </div>

</form>